node_modules
dist
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
tsconfig.test.tsbuildinfo
.DS_Store
target/
benchmarks/data/bing/mvt/*.mvt
tools/fetchBingTiles.ts
tools/fetchOMT.ts
vector-tile-spec/1.0.0/README.bak.md
coverage/
*.profraw
experiments/
docs/

